
.App-header {
  background-color:white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border-bottom:1px solid black;
  text-align:center;
}

button{
  display:block;
  margin: 1em auto;
  width: 50vw;
  height: 3em;

}

.title{
  display: inline-block;
}

.hidden{
  display:none;
}

#messageBox{
  height:60vh;
  width:80vw;
}

#modalContainer{
  width:100vw;
  height:100vh;
  margin:auto;
  position:fixed;
}

.modal{
  padding:1em;
  height:100vh;
  width:100vw;
  color:black;
  background-color: black;
  color:white;
  z-index:10000;
}

#add{
  animation: rotation 1s infinite linear;
  display: inline-block;
  margin-left: .25em;
}

#add:hover{
  cursor:pointer;
}

.messages{
  width:90vw;
  margin:0 auto;
  text-align: center;
}

.messages div{
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  margin:1em;
}

@keyframes rotation{
  0%{transform:rotate(0deg)}
  20%{transform:rotate(90deg)}  
  40%{transform:rotate(90deg)}    
  60%{transform:rotate(90deg)}
  80%{transform:rotate(90deg)}
  100%{transform:rotate(90deg)}      
}
